
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #fff;
  background-color: #105b7d;
}

.username {
  top: 5em;
  padding-left: 0px;
}

.sendmsg {
  margin-top: 1vh;
}

.message-control{
  margin-top: 2vh;
  padding-left: 0px;
}
.chatwindow {
  border: 1px solid #fff;
  padding-left: 1vw;
}
